/* @import "../node_modules/bulma/bulma.sass"; */
@import "~bulma/bulma";
@import "./bulma-steps.min.css";
@import "~bulma-tooltip/src/sass/index.sass";
@import "~react-grid-layout/css/styles.css";
@import "~react-resizable/css/styles.css";

.is-flex-end {
    justify-content: flex-end;
}

.is-flex-grow-1 {
    flex-grow: 1;
}

.is-flex-grow-2 {
    flex-grow: 2;
}

.has-default-cursor {
    cursor: default !important;
}

.main {
    margin: 20px;
}

.header {
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
}
