.modal-card {
    width: 80% !important;
    height: 80% !important;
}

.modal-pic {
    box-shadow: 0px 0px 5px 2px lightgrey;
}

.modal-summary {
    margin: 0px 10px;
}

.modal-card-head, .modal-card-foot {
    padding: 10px !important;
}
