.modal-pic {
    width: 210px;
    height: 300px;
}

.modal-summary {
    margin: 0px 10px;
}

.search-items {
    margin-left: 20px;
    overflow-y: scroll
}

.search-item {
    display: flex;
    align-items: center;
}

.search-item-title {
    margin-left: 10px;
}
