/* @import "../node_modules/bulma/bulma.sass"; */
@import "~bulma/bulma";

.is-flex-end {
    justify-content: flex-end;
}

.main {
    margin: 20px;
}

.item-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.new-item-btn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    box-shadow: 1px 2px 5px 0px lightgrey;
    border-radius: 50%;
}
