@import "~react-datepicker/dist/react-datepicker.css";

.modal-pic {
    box-shadow: 0px 0px 5px 2px lightgrey;
}

.search-items {
    display: flex;
    flex-wrap: wrap;
}

.search-item {
    display: flex;
    align-items: center;
    width: 250px;
    margin: 10px;
    cursor: pointer;
}

.item-creation-img {
    border: #b7b7b7 1px solid;
    border-radius: 3px;
}

.search-item-title {
    margin-left: 10px;
}

.has-width-250 {
    width: 250px;
}

.rating-icon {
    color: gold;
}

.widget-preview {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
