
.modal-card {
    width: 80% !important;
    height: 80% !important;
}

.modal-card-title {
    flex-grow: 0 !important;
    font-weight: 600 !important;
}

.modal-card-head, .modal-card-foot {
    padding: 10px !important;
}
